{
  "openapi": "3.1.0",
  "info": {
    "title": "Pandabase Storefront API",
    "description": "Public read-only API for displaying store information, products, and categories on your frontend. No authentication required — just your Store ID in the URL.",
    "version": "2.0.0",
    "contact": {
      "name": "Pandabase",
      "url": "https://pandabase.io"
    }
  },
  "servers": [
    {
      "url": "https://api.pandabase.io/v2/storefront",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.pandabase.io/v2/storefront",
      "description": "Sandbox"
    }
  ],
  "tags": [
    { "name": "Store", "description": "Public store information" },
    { "name": "Products", "description": "Public product listings" },
    { "name": "Categories", "description": "Public category listings" }
  ],
  "paths": {
    "/stores/{storeId}": {
      "get": {
        "operationId": "getStorefront",
        "summary": "Get store",
        "description": "Returns public store information including branding, description, and social links.",
        "tags": ["Store"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "responses": {
          "200": {
            "description": "Store details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Storefront" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/products": {
      "get": {
        "operationId": "listStorefrontProducts",
        "summary": "List products",
        "description": "Returns a paginated list of active products. Supports filtering, searching, and sorting. Only active products are returned — draft and deleted products are never included.",
        "tags": ["Products"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Full-text search on product title",
            "schema": { "type": "string" }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Filter by category ID",
            "schema": { "type": "string" }
          },
          {
            "name": "productType",
            "in": "query",
            "description": "Filter by product type",
            "schema": { "$ref": "#/components/schemas/ProductType" }
          },
          {
            "name": "pricingModel",
            "in": "query",
            "description": "Filter by pricing model",
            "schema": { "$ref": "#/components/schemas/PricingModel" }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field",
            "schema": { "type": "string", "enum": ["title", "price", "createdAt"], "default": "createdAt" }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "required": ["items", "pagination"],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/StorefrontProductListItem" }
                        },
                        "pagination": { "$ref": "#/components/schemas/Pagination" }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/products/{productId}": {
      "get": {
        "operationId": "getStorefrontProduct",
        "summary": "Get product",
        "description": "Returns full product details including variants, options, and categories.",
        "tags": ["Products"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/ProductId" }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/StorefrontProduct" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/categories": {
      "get": {
        "operationId": "listStorefrontCategories",
        "summary": "List categories",
        "description": "Returns a paginated list of categories. Supports filtering by featured status and parent category.",
        "tags": ["Categories"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Filter by featured status",
            "schema": { "type": "boolean" }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Filter by parent category ID (for subcategories)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "required": ["items", "pagination"],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/StorefrontCategoryListItem" }
                        },
                        "pagination": { "$ref": "#/components/schemas/Pagination" }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/categories/{categoryId}": {
      "get": {
        "operationId": "getStorefrontCategory",
        "summary": "Get category",
        "description": "Returns category details including subcategories and up to 50 active products.",
        "tags": ["Categories"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CategoryId" }
        ],
        "responses": {
          "200": {
            "description": "Category details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/StorefrontCategory" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "StoreId": {
        "name": "storeId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Store ID (shp_ prefix)"
      },
      "ProductId": {
        "name": "productId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Product ID (prd_ prefix)"
      },
      "CategoryId": {
        "name": "categoryId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Category ID (ctg_ prefix)"
      }
    },
    "schemas": {
      "ProductType": {
        "type": "string",
        "enum": ["SERIAL", "SERVICE", "ONE_TIME", "PHYSICAL", "SUBSCRIPTION", "DIGITAL_DOWNLOAD", "LICENSE_KEY"]
      },
      "PricingModel": {
        "type": "string",
        "enum": ["STANDARD", "PAY_WHAT_YOU_WANT", "FREE"]
      },
      "Pagination": {
        "type": "object",
        "required": ["page", "limit", "total", "totalPages"],
        "properties": {
          "page": { "type": "integer", "description": "Current page number" },
          "limit": { "type": "integer", "description": "Items per page" },
          "total": { "type": "integer", "description": "Total number of items" },
          "totalPages": { "type": "integer", "description": "Total number of pages" }
        }
      },
      "CategoryRef": {
        "type": "object",
        "required": ["id", "name", "slug"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "Storefront": {
        "type": "object",
        "required": ["id", "name", "handle", "description", "category"],
        "properties": {
          "id": { "type": "string", "description": "Store ID" },
          "name": { "type": "string", "description": "Store name" },
          "handle": { "type": "string", "description": "URL-safe store handle" },
          "slug": { "type": "string", "nullable": true },
          "description": { "type": "string", "description": "Store description" },
          "summary": { "type": "string", "nullable": true, "description": "Short selling summary" },
          "logo": { "type": "string", "nullable": true, "description": "Store logo URL" },
          "favicon": { "type": "string", "nullable": true, "description": "Store favicon URL" },
          "accentColor": { "type": "string", "nullable": true, "description": "Hex accent color" },
          "primaryColor": { "type": "string", "nullable": true, "description": "Hex primary color" },
          "supportEmail": { "type": "string", "nullable": true, "description": "Customer support email" },
          "category": { "type": "array", "items": { "type": "string" }, "description": "Store categories" },
          "twitterUrl": { "type": "string", "nullable": true },
          "instagramUrl": { "type": "string", "nullable": true },
          "linkedinUrl": { "type": "string", "nullable": true },
          "youtubeUrl": { "type": "string", "nullable": true },
          "tiktokUrl": { "type": "string", "nullable": true }
        }
      },
      "StorefrontProductListItem": {
        "type": "object",
        "required": ["id", "title", "handle", "price", "images", "inStock", "currency", "productType", "pricingModel", "status", "categories"],
        "properties": {
          "id": { "type": "string", "description": "Product ID" },
          "title": { "type": "string", "description": "Product title" },
          "subtitle": { "type": "string", "nullable": true },
          "handle": { "type": "string", "description": "URL-safe product handle" },
          "price": { "type": "integer", "description": "Price in cents" },
          "compareAtPrice": { "type": "integer", "nullable": true, "description": "Original price in cents (for displaying discounts)" },
          "images": { "type": "array", "items": { "type": "string" }, "description": "Product image URLs" },
          "inStock": { "type": "boolean" },
          "currency": { "type": "string", "description": "ISO 4217 currency code" },
          "productType": { "$ref": "#/components/schemas/ProductType" },
          "pricingModel": { "$ref": "#/components/schemas/PricingModel" },
          "status": { "type": "string", "enum": ["ACTIVE"] },
          "minimumPrice": { "type": "integer", "nullable": true, "description": "Minimum price for pay-what-you-want products (cents)" },
          "categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CategoryRef" }
          }
        }
      },
      "StorefrontProduct": {
        "type": "object",
        "required": ["id", "title", "handle", "price", "images", "inStock", "currency", "productType", "pricingModel", "status", "options", "variants", "categories"],
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "subtitle": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true, "description": "Full product description" },
          "handle": { "type": "string" },
          "price": { "type": "integer", "description": "Price in cents" },
          "compareAtPrice": { "type": "integer", "nullable": true, "description": "Original price in cents" },
          "images": { "type": "array", "items": { "type": "string" } },
          "inStock": { "type": "boolean" },
          "currency": { "type": "string" },
          "productType": { "$ref": "#/components/schemas/ProductType" },
          "message": { "type": "string", "nullable": true, "description": "Post-purchase message shown to customer" },
          "pricingModel": { "$ref": "#/components/schemas/PricingModel" },
          "status": { "type": "string", "enum": ["ACTIVE"] },
          "minimumPrice": { "type": "integer", "nullable": true, "description": "Minimum price for pay-what-you-want (cents)" },
          "maxPerCustomer": { "type": "integer", "nullable": true, "description": "Maximum quantity per customer" },
          "fulfillmentMode": {
            "type": "string",
            "nullable": true,
            "enum": ["MANAGED_LICENSE", "LICENSE_POOL", "LICENSE_WEBHOOK", "INSTANT_DOWNLOAD", "REDIRECT", "MANUAL"],
            "description": "How the product is delivered after purchase"
          },
          "availableFrom": { "type": "string", "format": "date-time", "nullable": true, "description": "Start of availability window" },
          "availableUntil": { "type": "string", "format": "date-time", "nullable": true, "description": "End of availability window" },
          "billingInterval": {
            "type": "string",
            "nullable": true,
            "enum": ["WEEKLY", "MONTHLY", "YEARLY"],
            "description": "Subscription billing interval"
          },
          "billingAnchor": { "type": "integer", "nullable": true, "description": "Day of month/week for billing" },
          "trialDays": { "type": "integer", "nullable": true, "description": "Number of free trial days" },
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["id", "name", "values", "position"],
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string", "description": "Option name (e.g. \"License Type\")" },
                "values": { "type": "array", "items": { "type": "string" }, "description": "Available values (e.g. [\"Personal\", \"Commercial\"])" },
                "position": { "type": "integer" }
              }
            },
            "description": "Product options (sorted by position)"
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["id", "title", "options", "price", "images", "inStock", "trackStock", "position"],
              "properties": {
                "id": { "type": "string" },
                "title": { "type": "string" },
                "slug": { "type": "string", "nullable": true },
                "description": { "type": "string", "nullable": true },
                "sku": { "type": "string", "nullable": true },
                "options": {
                  "type": "object",
                  "additionalProperties": { "type": "string" },
                  "description": "Map of option name to selected value"
                },
                "price": { "type": "integer", "description": "Variant price in cents" },
                "compareAtPrice": { "type": "integer", "nullable": true },
                "images": { "type": "array", "items": { "type": "string" } },
                "inStock": { "type": "boolean" },
                "quantity": { "type": "integer", "nullable": true, "description": "Available stock (null if not tracking)" },
                "trackStock": { "type": "boolean" },
                "position": { "type": "integer" }
              }
            },
            "description": "Product variants (sorted by position)"
          },
          "categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CategoryRef" }
          }
        }
      },
      "StorefrontCategoryListItem": {
        "type": "object",
        "required": ["id", "name", "slug", "displayOrder", "featured"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "icon": { "type": "string", "nullable": true },
          "parentId": { "type": "string", "nullable": true, "description": "Parent category ID (null for top-level)" },
          "displayOrder": { "type": "integer" },
          "featured": { "type": "boolean" }
        }
      },
      "StorefrontCategory": {
        "type": "object",
        "required": ["id", "name", "slug", "displayOrder", "featured", "showInNavigation", "children", "products"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "icon": { "type": "string", "nullable": true },
          "parentId": { "type": "string", "nullable": true },
          "displayOrder": { "type": "integer" },
          "featured": { "type": "boolean" },
          "metaTitle": { "type": "string", "nullable": true, "description": "SEO meta title" },
          "metaDescription": { "type": "string", "nullable": true, "description": "SEO meta description" },
          "showInNavigation": { "type": "boolean", "description": "Whether to show in storefront navigation" },
          "children": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CategoryRef" },
            "description": "Subcategories"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["id", "title", "handle", "price", "images", "inStock"],
              "properties": {
                "id": { "type": "string" },
                "title": { "type": "string" },
                "handle": { "type": "string" },
                "price": { "type": "integer", "description": "Price in cents" },
                "images": { "type": "array", "items": { "type": "string" } },
                "inStock": { "type": "boolean" }
              }
            },
            "description": "Up to 50 active products in this category"
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["ok", "error"],
              "properties": {
                "ok": { "type": "boolean", "const": false },
                "error": { "type": "string", "description": "Error message" }
              }
            }
          }
        }
      }
    }
  }
}
