{
  "openapi": "3.1.0",
  "info": {
    "title": "Pandabase Checkout API",
    "description": "Create checkout sessions and payment links. No authentication required — sessions are scoped to a Store ID.",
    "version": "2.0.0",
    "contact": {
      "name": "Pandabase",
      "url": "https://pandabase.io"
    }
  },
  "servers": [
    {
      "url": "https://api.pandabase.io/v2",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.pandabase.io/v2",
      "description": "Sandbox"
    }
  ],
  "tags": [
    { "name": "Checkouts", "description": "Checkout session management" }
  ],
  "paths": {
    "/stores/{storeId}/checkouts/estimate": {
      "post": {
        "operationId": "estimateCheckout",
        "summary": "Estimate checkout",
        "description": "Stateless price estimation with tax and coupon preview. Does not create a session — use this to show a price breakdown before creating a checkout.",
        "tags": ["Checkouts"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EstimateCheckoutBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout estimate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/EstimateResponse" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/checkouts": {
      "post": {
        "operationId": "createCheckoutSession",
        "summary": "Create checkout session",
        "description": "Creates a checkout session with a 6-hour TTL. Returns a `checkout_url` that you can redirect customers to, or use the session ID to build a custom checkout experience. Supports both catalog products (by `product_id`) and dynamic line items (by `name` + `amount`).",
        "tags": ["Checkouts"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCheckoutBody" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/CheckoutSession" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "StoreId": {
        "name": "storeId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Store ID (shp_ prefix)"
      }
    },
    "schemas": {
      "CatalogItem": {
        "type": "object",
        "description": "Reference an existing product from your catalog",
        "required": ["product_id", "quantity"],
        "properties": {
          "product_id": { "type": "string", "description": "Product ID (prd_ prefix)" },
          "variant_id": { "type": "string", "description": "Optional variant ID (var_ prefix)" },
          "quantity": { "type": "integer", "minimum": 1, "maximum": 999 }
        }
      },
      "DynamicItem": {
        "type": "object",
        "description": "A custom line item with a name and amount (not from your catalog)",
        "required": ["name", "amount", "quantity"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 255, "description": "Display name for the line item" },
          "amount": { "type": "integer", "minimum": 100, "maximum": 1000000, "description": "Amount in cents" },
          "quantity": { "type": "integer", "minimum": 1, "maximum": 999 }
        }
      },
      "Customer": {
        "type": "object",
        "required": ["name", "email", "billing"],
        "properties": {
          "name": { "type": "string", "maxLength": 128 },
          "email": { "type": "string", "format": "email", "maxLength": 320 },
          "billing": { "$ref": "#/components/schemas/BillingAddress" }
        }
      },
      "BillingAddress": {
        "type": "object",
        "required": ["line1", "city", "state", "postal_code", "country"],
        "properties": {
          "line1": { "type": "string", "maxLength": 200 },
          "line2": { "type": "string", "maxLength": 200 },
          "city": { "type": "string", "maxLength": 100 },
          "state": { "type": "string", "maxLength": 100 },
          "postal_code": { "type": "string", "maxLength": 20 },
          "country": { "type": "string", "minLength": 2, "maxLength": 2, "description": "ISO 3166-1 alpha-2 country code" }
        }
      },
      "CustomFieldDefinition": {
        "type": "object",
        "required": ["key", "label", "type"],
        "properties": {
          "key": { "type": "string", "maxLength": 200, "pattern": "^[a-zA-Z0-9_]+$", "description": "Unique field identifier" },
          "label": {
            "type": "object",
            "required": ["type", "custom"],
            "properties": {
              "type": { "type": "string", "const": "custom" },
              "custom": { "type": "string", "maxLength": 50, "description": "Display label" }
            }
          },
          "type": { "type": "string", "enum": ["text", "numeric", "dropdown"], "description": "Field input type" },
          "optional": { "type": "boolean", "default": false },
          "text": {
            "type": "object",
            "properties": {
              "default_value": { "type": "string", "maxLength": 255 },
              "minimum_length": { "type": "integer", "minimum": 0 },
              "maximum_length": { "type": "integer", "maximum": 255 }
            }
          },
          "numeric": {
            "type": "object",
            "properties": {
              "default_value": { "type": "string", "maxLength": 255 },
              "minimum_length": { "type": "integer", "minimum": 0 },
              "maximum_length": { "type": "integer", "maximum": 255 }
            }
          },
          "dropdown": {
            "type": "object",
            "properties": {
              "default_value": { "type": "string", "maxLength": 100 },
              "options": {
                "type": "array",
                "minItems": 1,
                "maxItems": 200,
                "items": {
                  "type": "object",
                  "required": ["label", "value"],
                  "properties": {
                    "label": { "type": "string", "maxLength": 100 },
                    "value": { "type": "string", "maxLength": 100, "pattern": "^[a-zA-Z0-9_]+$" }
                  }
                }
              }
            }
          }
        }
      },
      "EstimateCheckoutBody": {
        "type": "object",
        "required": ["items", "country"],
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/CatalogItem" },
                { "$ref": "#/components/schemas/DynamicItem" }
              ]
            }
          },
          "country": { "type": "string", "minLength": 2, "maxLength": 2, "description": "ISO 3166-1 alpha-2 country code for tax calculation" },
          "state": { "type": "string", "maxLength": 64, "description": "State/province for tax calculation" },
          "coupon_code": { "type": "string", "maxLength": 64, "description": "Coupon code to preview discount" },
          "tax_id": { "type": "string", "maxLength": 32, "description": "Tax ID (VAT number) for tax exemption" }
        }
      },
      "CreateCheckoutBody": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "description": "Line items — use `product_id` for catalog products or `name` + `amount` for dynamic items",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/CatalogItem" },
                { "$ref": "#/components/schemas/DynamicItem" }
              ]
            }
          },
          "amount": { "type": "integer", "minimum": 100, "maximum": 1000000, "description": "Expected total in cents. If provided, must match the computed item total (validation safeguard)." },
          "customer": { "$ref": "#/components/schemas/Customer" },
          "coupon_code": { "type": "string", "maxLength": 64, "description": "Coupon code to apply" },
          "tax_id": { "type": "string", "maxLength": 32, "description": "Tax ID (VAT number)" },
          "display": {
            "type": "object",
            "description": "Checkout UI configuration",
            "properties": {
              "fields": {
                "type": "array",
                "maxItems": 3,
                "description": "Custom fields shown to the customer during checkout (max 3)",
                "items": { "$ref": "#/components/schemas/CustomFieldDefinition" }
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Key-value pairs attached to the session. Flows through to the order and webhook payloads. Max 20 keys, key max 40 chars, value max 500 chars."
          },
          "return_url": { "type": "string", "format": "uri", "description": "URL to redirect after successful payment. Must use HTTPS." },
          "cancel_url": { "type": "string", "format": "uri", "description": "URL to redirect if the customer cancels. Must use HTTPS." }
        }
      },
      "Merchant": {
        "type": "object",
        "required": ["id", "name", "handle"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "handle": { "type": "string" },
          "slug": { "type": "string", "nullable": true },
          "logo": { "type": "string", "nullable": true },
          "favicon": { "type": "string", "nullable": true },
          "accentColor": { "type": "string", "nullable": true },
          "primaryColor": { "type": "string", "nullable": true },
          "statementDescriptor": { "type": "string", "nullable": true },
          "supportEmail": { "type": "string", "nullable": true }
        }
      },
      "LineItem": {
        "type": "object",
        "required": ["name", "amount", "quantity"],
        "properties": {
          "name": { "type": "string" },
          "amount": { "type": "integer", "description": "Unit price in cents" },
          "quantity": { "type": "integer" },
          "image": { "type": "string", "nullable": true }
        }
      },
      "EstimateResponse": {
        "type": "object",
        "required": ["merchant", "subtotal", "tax", "total", "items"],
        "properties": {
          "merchant": { "$ref": "#/components/schemas/Merchant" },
          "subtotal": { "type": "integer", "description": "Subtotal in cents" },
          "discount": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": { "type": "string" },
              "amount": { "type": "integer", "description": "Discount amount in cents" },
              "type": { "type": "string", "enum": ["PERCENTAGE", "FIXED_AMOUNT"] },
              "value": { "type": "number", "description": "Discount value (percentage or fixed amount in cents)" }
            }
          },
          "tax": {
            "type": "object",
            "required": ["rate", "amount"],
            "properties": {
              "rate": { "type": "number", "description": "Tax rate as a decimal (e.g. 0.08 for 8%)" },
              "amount": { "type": "integer", "description": "Tax amount in cents" }
            }
          },
          "total": { "type": "integer", "description": "Total in cents (subtotal - discount + tax)" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LineItem" }
          }
        }
      },
      "CheckoutSession": {
        "type": "object",
        "required": ["id", "checkout_url", "pay_redirect_url", "merchant", "amount", "discount_amount", "tax_amount", "total_amount", "items", "expires_at"],
        "properties": {
          "id": { "type": "string", "description": "Checkout session ID (cs_ prefix)" },
          "checkout_url": { "type": "string", "format": "uri", "description": "Hosted checkout page URL — redirect your customer here" },
          "pay_redirect_url": { "type": "string", "format": "uri", "description": "Secure payment page URL" },
          "merchant": { "$ref": "#/components/schemas/Merchant" },
          "amount": { "type": "integer", "description": "Subtotal in cents" },
          "discount_amount": { "type": "integer", "description": "Discount in cents" },
          "tax_amount": { "type": "integer", "description": "Tax in cents" },
          "total_amount": { "type": "integer", "description": "Total in cents" },
          "coupon": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": { "type": "string" },
              "discount_amount": { "type": "integer" }
            }
          },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/LineItem" }
          },
          "display": { "type": "object", "nullable": true, "description": "Custom field definitions" },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": { "type": "string" }
          },
          "return_url": { "type": "string", "nullable": true },
          "cancel_url": { "type": "string", "nullable": true },
          "expires_at": { "type": "integer", "description": "Session expiration timestamp (Unix ms)" }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["ok", "error"],
              "properties": {
                "ok": { "type": "boolean", "const": false },
                "error": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
