{
  "openapi": "3.1.0",
  "info": {
    "title": "Pandabase V2 API",
    "description": "Token-authenticated programmatic API for managing stores, products, orders, and more. Authenticated via Bearer token (sk_ prefix) or HMAC (stk_ token ID).",
    "version": "2.0.0",
    "contact": {
      "name": "Pandabase",
      "url": "https://pandabase.io"
    }
  },
  "servers": [
    {
      "url": "https://api.pandabase.io/v2/core",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.pandabase.io/v2/core",
      "description": "Development"
    }
  ],
  "security": [{ "BearerAuth": [] }],
  "tags": [
    { "name": "Store", "description": "Store information" },
    { "name": "Products", "description": "Product management" },
    { "name": "Categories", "description": "Category management" },
    { "name": "Coupons", "description": "Coupon management" },
    { "name": "Orders", "description": "Order management" },
    { "name": "Payments", "description": "Payment management" },
    { "name": "Webhooks", "description": "Webhook management" },
    { "name": "Analytics", "description": "Store analytics" },
    { "name": "Payouts", "description": "Payout management" },
    { "name": "Customers", "description": "Customer management" },
    { "name": "Licenses", "description": "License management" },
    { "name": "Subscriptions", "description": "Subscription management (Beta)" },
    { "name": "Billing Agreements", "description": "Billing agreement (mandate) management. Beta — under active development." },
    { "name": "Cases", "description": "Customer support case management. Cases are opened by customers from the customer portal — this API lets you read, reply to, and update existing cases." }
  ],
  "paths": {
    "/stores/{storeId}": {
      "get": {
        "operationId": "getStore",
        "summary": "Get store details",
        "tags": ["Store"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "tags": ["Products"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string", "maxLength": 128 }
          },
          {
            "name": "productType",
            "in": "query",
            "schema": { "$ref": "#/components/schemas/ProductType" }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "$ref": "#/components/schemas/ProductStatus" }
          },
          {
            "name": "pricingModel",
            "in": "query",
            "schema": { "$ref": "#/components/schemas/PricingModel" }
          },
          { "name": "inStock", "in": "query", "schema": { "type": "boolean" } },
          {
            "name": "categoryId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["title", "price", "createdAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Product" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "tags": ["Products"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProductBody" }
            }
          }
        },
        "responses": {
          "201": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/products/{productId}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get a product",
        "tags": ["Products"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/ProductId" }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Product" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "tags": ["Products"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/ProductId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateProductBody" }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Delete a product",
        "tags": ["Products"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/ProductId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List categories",
        "tags": ["Categories"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string", "maxLength": 128 }
          },
          { "name": "parentId", "in": "query", "schema": { "type": "string" } },
          {
            "name": "featured",
            "in": "query",
            "schema": { "type": "boolean" }
          },
          {
            "name": "isFavourite",
            "in": "query",
            "schema": { "type": "boolean" }
          },
          {
            "name": "isArchived",
            "in": "query",
            "schema": { "type": "boolean" }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["displayOrder", "name", "createdAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Category" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "operationId": "createCategory",
        "summary": "Create a category",
        "tags": ["Categories"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCategoryBody" }
            }
          }
        },
        "responses": {
          "201": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/categories/{categoryId}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Get a category",
        "tags": ["Categories"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CategoryId" }
        ],
        "responses": {
          "200": {
            "description": "Category details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Category" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "operationId": "updateCategory",
        "summary": "Update a category",
        "tags": ["Categories"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CategoryId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCategoryBody" }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "operationId": "deleteCategory",
        "summary": "Delete a category",
        "tags": ["Categories"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CategoryId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/coupons": {
      "get": {
        "operationId": "listCoupons",
        "summary": "List coupons",
        "tags": ["Coupons"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string", "maxLength": 128 }
          },
          {
            "name": "type",
            "in": "query",
            "schema": { "type": "string", "enum": ["FIXED", "PERCENTAGE"] }
          },
          { "name": "enabled", "in": "query", "schema": { "type": "boolean" } },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["code", "createdAt", "updatedAt", "value", "timesUsed"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of coupons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Coupon" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "operationId": "createCoupon",
        "summary": "Create a coupon",
        "tags": ["Coupons"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCouponBody" }
            }
          }
        },
        "responses": {
          "201": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/coupons/{couponId}": {
      "get": {
        "operationId": "getCoupon",
        "summary": "Get a coupon",
        "tags": ["Coupons"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CouponId" }
        ],
        "responses": {
          "200": {
            "description": "Coupon details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Coupon" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "operationId": "updateCoupon",
        "summary": "Update a coupon",
        "tags": ["Coupons"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CouponId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCouponBody" }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "operationId": "deleteCoupon",
        "summary": "Delete a coupon",
        "tags": ["Coupons"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CouponId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "tags": ["Orders"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "$ref": "#/components/schemas/OrderStatus" }
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string", "maxLength": 128 }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Order" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/orders/{orderId}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order details",
        "tags": ["Orders"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/OrderId" }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/OrderDetail" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/orders/{orderId}/refunds": {
      "get": {
        "operationId": "listRefunds",
        "summary": "List refunds for an order",
        "tags": ["Orders"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/OrderId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/orders/{orderId}/retry-fulfillment": {
      "post": {
        "operationId": "retryFulfillment",
        "summary": "Retry order fulfillment",
        "tags": ["Orders"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/OrderId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/orders/payments": {
      "get": {
        "operationId": "listPayments",
        "summary": "List payments",
        "tags": ["Payments"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "$ref": "#/components/schemas/PaymentStatus" }
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string", "maxLength": 128 }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Payment" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/orders/payments/{paymentId}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get payment details",
        "tags": ["Payments"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/PaymentId" }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/PaymentDetail" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": ["Webhooks"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Webhook" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "tags": ["Webhooks"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateWebhookBody" }
            }
          }
        },
        "responses": {
          "201": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/webhooks/{webhookId}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a webhook",
        "tags": ["Webhooks"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/WebhookId" }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Webhook" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "tags": ["Webhooks"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/WebhookId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateWebhookBody" }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "tags": ["Webhooks"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/WebhookId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/analytics/overview": {
      "get": {
        "operationId": "getAnalyticsOverview",
        "summary": "Get analytics overview",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["7d", "30d", "90d", "all", "custom"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/analytics/gross-volume": {
      "get": {
        "operationId": "getGrossVolume",
        "summary": "Get gross volume analytics",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["7d", "30d", "90d", "all", "custom"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/analytics/orders-by-country": {
      "get": {
        "operationId": "getOrdersByCountry",
        "summary": "Get orders by country",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["7d", "30d", "90d", "all", "custom"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/payouts": {
      "get": {
        "operationId": "listPayouts",
        "summary": "List payouts",
        "tags": ["Payouts"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of payouts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Payout" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/payouts/{payoutId}": {
      "get": {
        "operationId": "getPayoutDetails",
        "summary": "Get payout details",
        "tags": ["Payouts"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/PayoutId" }
        ],
        "responses": {
          "200": {
            "description": "Payout details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Payout" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/payouts/bank-accounts": {
      "get": {
        "operationId": "listBankAccounts",
        "summary": "List bank accounts",
        "tags": ["Payouts"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "responses": {
          "200": {
            "description": "List of bank accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/BankAccount" }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "tags": ["Customers"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string", "maxLength": 128 }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["email", "totalSpent", "orderCount", "createdAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CustomerSummary"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/customers/{customerId}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get customer details",
        "tags": ["Customers"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CustomerId" }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/CustomerDetail" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/licenses": {
      "get": {
        "operationId": "listLicenses",
        "summary": "List licenses",
        "tags": ["Licenses"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "productId",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["AVAILABLE", "CLAIMED", "REVOKED"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/License" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/licenses/{licenseId}": {
      "get": {
        "operationId": "getLicense",
        "summary": "Get license details",
        "tags": ["Licenses"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/LicenseId" }
        ],
        "responses": {
          "200": {
            "description": "License details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/License" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/licenses/verify": {
      "post": {
        "operationId": "verifyLicense",
        "summary": "Verify a license key",
        "tags": ["Licenses"],
        "parameters": [{ "$ref": "#/components/parameters/StoreId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["key"],
                "properties": {
                  "key": { "type": "string", "minLength": 1, "maxLength": 512 },
                  "productId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/subscriptions": {
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List subscriptions",
        "tags": ["Subscriptions"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["TRIALING", "ACTIVE", "PAST_DUE", "PAUSED", "CANCELLED"]
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Subscription"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Get subscription details",
        "tags": ["Subscriptions"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/SubscriptionId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/subscriptions/{subscriptionId}/cancel": {
      "post": {
        "operationId": "cancelSubscription",
        "summary": "Cancel a subscription",
        "description": "Cancel at period end (default) or immediately. Immediate cancellation revokes access and licenses.",
        "tags": ["Subscriptions"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/SubscriptionId" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "immediate": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, cancel immediately and revoke access. If false, cancel at end of current billing period."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/subscriptions/{subscriptionId}/pause": {
      "post": {
        "operationId": "pauseSubscription",
        "summary": "Pause a subscription",
        "description": "Pause billing. No charges until resumed. Only active subscriptions can be paused.",
        "tags": ["Subscriptions"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/SubscriptionId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/subscriptions/{subscriptionId}/resume": {
      "post": {
        "operationId": "resumeSubscription",
        "summary": "Resume a subscription",
        "description": "Resume billing on a paused subscription. Charges resume at end of current period or immediately if the period has ended.",
        "tags": ["Subscriptions"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/SubscriptionId" }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/SuccessResponse" },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/mandates": {
      "post": {
        "operationId": "createMandate",
        "summary": "Create a billing agreement",
        "description": "Create a billing agreement (mandate) tied to a customer. The response includes an `agreementUrl` — redirect the customer there to authorize the saved payment method. Once authorized, the mandate transitions to `ACTIVE` and can be charged via the payments endpoint.",
        "tags": ["Billing Agreements"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateMandateBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mandate created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Mandate" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/mandates/authorizations": {
      "post": {
        "operationId": "createMandateAuthorization",
        "summary": "Create a Mandate Authorization Token (MAT)",
        "description": "Request a short-lived Mandate Authorization Token scoped to a specific charge (amount, currency, and reason). Submit the returned `token` together with the mandate id to the payments endpoint to actually charge the customer.\n\nRequesting a MAT emails the customer notifying them that you have obtained authorization to charge their saved payment method — only request a token when you're ready to charge.",
        "tags": ["Billing Agreements"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateMandateAuthorizationBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mandate Authorization Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/MandateAuthorization" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/payments": {
      "post": {
        "operationId": "createMandatePayment",
        "summary": "Charge a billing agreement",
        "description": "Charge the customer's saved payment method using a billing agreement and a Mandate Authorization Token (MAT).\n\nIf the bank challenges the charge with 3D Secure, the response includes `status: REQUIRES_3DS` and an `authorizationUrl` — redirect the customer there. Once they complete the 3DS flow with their bank, the charge automatically succeeds; no retry is needed.",
        "tags": ["Billing Agreements"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateMandatePaymentBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created. `status: COMPLETED` means funds were collected. `status: REQUIRES_3DS` means the customer must complete bank authentication at `authorizationUrl` — the charge will succeed automatically once they do.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/MandatePayment" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/cases": {
      "get": {
        "operationId": "listCases",
        "summary": "List cases",
        "description": "List support cases for the store. Sorted by `lastMessageAt` desc, then `createdAt` desc.\n\nRequires `CASES_READ` scope.",
        "tags": ["Cases"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": { "$ref": "#/components/schemas/CaseStatus" }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": { "$ref": "#/components/schemas/CasePriority" }
          },
          {
            "name": "customerId",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter to a single customer."
          },
          {
            "name": "orderId",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter to a single order."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of cases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Case" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/cases/{caseId}": {
      "get": {
        "operationId": "getCase",
        "summary": "Get case detail",
        "description": "Returns the case with the same fields as the list view, plus richer order data (`status`, `createdAt`).\n\nRequires `CASES_READ` scope.",
        "tags": ["Cases"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CaseId" }
        ],
        "responses": {
          "200": {
            "description": "Case detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/CaseDetail" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "patch": {
        "operationId": "updateCase",
        "summary": "Update case priority or status",
        "description": "Update the `priority` or `status` of a case. At least one field must be provided.\n\n**Status transitions:**\n- `→ CLOSED` from any non-closed state (records `closedBy = MERCHANT`).\n- `→ OPEN` only from `CLOSED` (reopens, clears `closedAt` / `closedBy`).\n- `→ AWAITING_CUSTOMER` from any non-closed state.\n\nA `SYSTEM` trail message is appended to the case timeline for each transition.\n\n**Errors:**\n- `400 Nothing to update` — empty body\n- `400 Case is already closed`\n- `400 Only closed cases can be reopened`\n- `400 Cannot set status on a closed case` — when transitioning to `AWAITING_CUSTOMER` while closed\n\nRequires `CASES_WRITE` scope.",
        "tags": ["Cases"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CaseId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCaseBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated case",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/Case" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/cases/{caseId}/messages": {
      "get": {
        "operationId": "listCaseMessages",
        "summary": "List case messages",
        "description": "List messages on a case. Sorted oldest first.\n\nAttachment metadata is included, but file URLs are **not** exposed via store tokens — to view an attachment, use the merchant dashboard.\n\nRequires `CASES_READ` scope.",
        "tags": ["Cases"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CaseId" },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/CaseMessage" }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      },
      "post": {
        "operationId": "createCaseMessage",
        "summary": "Reply to a case",
        "description": "Append a `MERCHANT` reply to the case.\n\n**Side effects:**\n- Sets case `status` to `AWAITING_CUSTOMER`.\n- Increments customer-side unread counter, resets merchant-side counter to 0.\n- Sends the customer an email with a preview of your message.\n\n**Rate limit:** 60 req/min per token (in addition to the global 60 req/s cap).\n\n**Errors:**\n- `400 Cannot send messages on a closed case — reopen it first` — PATCH `status: \"OPEN\"` first.\n\nRequires `CASES_WRITE` scope.",
        "tags": ["Cases"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CaseId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCaseMessageBody" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": { "$ref": "#/components/schemas/CaseMessage" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ErrorResponse" },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    },
    "/stores/{storeId}/cases/{caseId}/read": {
      "post": {
        "operationId": "markCaseRead",
        "summary": "Mark case as read",
        "description": "Resets the merchant-side unread counter on a case to 0. Useful after polling, or once your integration has surfaced the case to whoever handles support on your end.\n\nRequires `CASES_WRITE` scope.",
        "tags": ["Cases"],
        "parameters": [
          { "$ref": "#/components/parameters/StoreId" },
          { "$ref": "#/components/parameters/CaseId" }
        ],
        "responses": {
          "200": {
            "description": "Case marked as read",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok", "data"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "read": { "type": "boolean", "const": true }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/ErrorResponse" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Store API token. Use the `sk_` prefixed secret key as the Bearer token."
      },
      "HMAC": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "HMAC authentication using `stk_` token ID. Send `HMAC stk_xxx:signature` where signature is HMAC-SHA256 of the request body."
      }
    },
    "parameters": {
      "StoreId": {
        "name": "storeId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Store ID (shp_ prefix)"
      },
      "ProductId": {
        "name": "productId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Product ID (prd_ prefix)"
      },
      "CategoryId": {
        "name": "categoryId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Category ID (ctg_ prefix)"
      },
      "CouponId": {
        "name": "couponId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Coupon ID (cpn_ prefix)"
      },
      "OrderId": {
        "name": "orderId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Order ID (ord_ prefix)"
      },
      "PaymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Payment ID (pmt_ prefix)"
      },
      "WebhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Webhook ID (whk_ prefix)"
      },
      "PayoutId": {
        "name": "payoutId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Payout ID (pto_ prefix)"
      },
      "CustomerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Customer ID (cus_ prefix)"
      },
      "LicenseId": {
        "name": "licenseId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "License ID (lic_ prefix)"
      },
      "SubscriptionId": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Subscription ID (sub_ prefix)"
      },
      "CaseId": {
        "name": "caseId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 12, "maxLength": 48 },
        "description": "Case ID (cs_ prefix)"
      }
    },
    "responses": {
      "SuccessResponse": {
        "description": "Successful operation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["ok", "data"],
              "properties": {
                "ok": { "type": "boolean", "const": true },
                "data": {}
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": ["ok", "error"],
              "properties": {
                "ok": { "type": "boolean", "const": false },
                "error": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" },
          "totalPages": { "type": "integer" }
        }
      },
      "ProductType": {
        "type": "string",
        "enum": ["SUBSCRIPTION", "DIGITAL_DOWNLOAD", "LICENSE_KEY"]
      },
      "ProductStatus": {
        "type": "string",
        "enum": ["DRAFT", "ACTIVE"]
      },
      "PricingModel": {
        "type": "string",
        "enum": ["STANDARD", "PAY_WHAT_YOU_WANT", "FREE"]
      },
      "FulfillmentMode": {
        "type": "string",
        "enum": [
          "MANAGED_LICENSE",
          "LICENSE_POOL",
          "LICENSE_WEBHOOK",
          "INSTANT_DOWNLOAD",
          "REDIRECT",
          "MANUAL"
        ]
      },
      "KeyFormat": {
        "type": "string",
        "enum": ["ALPHANUMERIC", "UUID", "CUSTOM_PREFIX"]
      },
      "LicenseDuration": {
        "type": "string",
        "enum": ["THIRTY_DAYS", "NINETY_DAYS", "ONE_YEAR", "LIFETIME"]
      },
      "BillingInterval": {
        "type": "string",
        "enum": ["WEEKLY", "MONTHLY", "YEARLY"]
      },
      "BillingAnchor": {
        "type": "string",
        "enum": ["IMMEDIATELY", "END_OF_PERIOD"]
      },
      "OrderStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "PROCESSING",
          "COMPLETED",
          "CANCELLED",
          "FAILED",
          "REFUNDED",
          "CHARGEBACK"
        ]
      },
      "PaymentStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "PROCESSING",
          "COMPLETED",
          "REFUNDED",
          "DISPUTED",
          "FAILED"
        ]
      },
      "WebhookEventType": {
        "type": "string",
        "enum": [
          "PAYMENT_PENDING",
          "PAYMENT_PROCESSING",
          "PAYMENT_COMPLETED",
          "PAYMENT_REFUNDED",
          "PAYMENT_DISPUTED",
          "PAYMENT_DISPUTE_WON",
          "PAYMENT_DISPUTE_LOST",
          "PAYMENT_FAILED",
          "SUBSCRIPTION_CREATED",
          "SUBSCRIPTION_RENEWED",
          "SUBSCRIPTION_PAST_DUE",
          "SUBSCRIPTION_CANCELLED",
          "SUBSCRIPTION_PAUSED",
          "SUBSCRIPTION_RESUMED"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "subtitle": { "type": ["string", "null"] },
          "description": { "type": ["string", "null"] },
          "handle": { "type": "string" },
          "price": { "type": "integer", "description": "Price in cents" },
          "compareAtPrice": { "type": ["integer", "null"] },
          "images": { "type": "array", "items": { "type": "string" } },
          "inStock": { "type": "boolean" },
          "currency": { "type": "string" },
          "productType": { "$ref": "#/components/schemas/ProductType" },
          "message": { "type": ["string", "null"] },
          "fulfillmentMode": {
            "oneOf": [
              { "$ref": "#/components/schemas/FulfillmentMode" },
              { "type": "null" }
            ]
          },
          "pricingModel": { "$ref": "#/components/schemas/PricingModel" },
          "status": { "$ref": "#/components/schemas/ProductStatus" },
          "minimumPrice": { "type": ["integer", "null"] },
          "maxPerCustomer": { "type": ["integer", "null"] },
          "availableFrom": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "availableUntil": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "downloadUrl": { "type": ["string", "null"] },
          "redirectUrl": { "type": ["string", "null"] },
          "keyFormat": {
            "oneOf": [
              { "$ref": "#/components/schemas/KeyFormat" },
              { "type": "null" }
            ]
          },
          "customPrefix": { "type": ["string", "null"] },
          "maxActivations": { "type": ["integer", "null"] },
          "licenseDuration": {
            "oneOf": [
              { "$ref": "#/components/schemas/LicenseDuration" },
              { "type": "null" }
            ]
          },
          "revokeOnRefund": { "type": "boolean" },
          "lowStockThreshold": { "type": ["integer", "null"] },
          "webhookUrl": { "type": ["string", "null"] },
          "webhookSecret": { "type": ["string", "null"] },
          "billingInterval": {
            "oneOf": [
              { "$ref": "#/components/schemas/BillingInterval" },
              { "type": "null" }
            ]
          },
          "billingAnchor": {
            "oneOf": [
              { "$ref": "#/components/schemas/BillingAnchor" },
              { "type": "null" }
            ]
          },
          "trialDays": { "type": ["integer", "null"] },
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "values": { "type": "array", "items": { "type": "string" } },
                "position": { "type": "integer" }
              }
            }
          },
          "variants": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Variant" }
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "slug": { "type": "string" }
              }
            }
          },
          "availableLicenses": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Variant": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "slug": { "type": ["string", "null"] },
          "description": { "type": ["string", "null"] },
          "sku": { "type": ["string", "null"] },
          "options": {},
          "price": { "type": "integer", "description": "Price in cents" },
          "compareAtPrice": { "type": ["integer", "null"] },
          "images": { "type": "array", "items": { "type": "string" } },
          "inStock": { "type": "boolean" },
          "quantity": { "type": ["integer", "null"] },
          "trackStock": { "type": "boolean" },
          "position": { "type": "integer" }
        }
      },
      "CreateProductBody": {
        "type": "object",
        "required": ["title", "productType", "price"],
        "properties": {
          "title": { "type": "string", "minLength": 1, "maxLength": 256 },
          "subtitle": { "type": "string", "maxLength": 512 },
          "description": { "type": "string", "maxLength": 10000 },
          "productType": { "$ref": "#/components/schemas/ProductType" },
          "price": { "type": "integer", "minimum": 0 },
          "compareAtPrice": { "type": "integer", "minimum": 0 },
          "images": {
            "type": "array",
            "items": { "type": "string" },
            "maxItems": 10
          },
          "message": { "type": "string", "maxLength": 1000 },
          "fulfillmentMode": { "$ref": "#/components/schemas/FulfillmentMode" },
          "pricingModel": { "$ref": "#/components/schemas/PricingModel" },
          "status": { "$ref": "#/components/schemas/ProductStatus" },
          "minimumPrice": { "type": "integer", "minimum": 0 },
          "maxPerCustomer": { "type": "integer", "minimum": 1 },
          "availableFrom": { "type": "string", "format": "date-time" },
          "availableUntil": { "type": "string", "format": "date-time" },
          "downloadUrl": { "type": "string", "maxLength": 2048 },
          "redirectUrl": { "type": "string", "maxLength": 2048 },
          "keyFormat": { "$ref": "#/components/schemas/KeyFormat" },
          "customPrefix": { "type": "string", "maxLength": 32 },
          "maxActivations": { "type": "integer", "minimum": 1 },
          "licenseDuration": { "$ref": "#/components/schemas/LicenseDuration" },
          "revokeOnRefund": { "type": "boolean" },
          "lowStockThreshold": { "type": "integer", "minimum": 0 },
          "webhookUrl": { "type": "string", "maxLength": 2048 },
          "webhookSecret": { "type": "string", "maxLength": 256 },
          "billingInterval": { "$ref": "#/components/schemas/BillingInterval" },
          "billingAnchor": { "$ref": "#/components/schemas/BillingAnchor" },
          "trialDays": { "type": "integer", "minimum": 0 },
          "licenseKeys": {
            "type": "array",
            "items": { "type": "string", "maxLength": 512 },
            "maxItems": 1000
          },
          "variants": {
            "type": "array",
            "maxItems": 4,
            "items": {
              "type": "object",
              "required": ["title", "options", "price"],
              "properties": {
                "title": { "type": "string", "minLength": 1, "maxLength": 256 },
                "slug": { "type": "string", "maxLength": 128 },
                "description": { "type": "string", "maxLength": 1000 },
                "sku": { "type": "string", "maxLength": 128 },
                "options": {},
                "price": { "type": "integer", "minimum": 0 },
                "compareAtPrice": { "type": "integer", "minimum": 0 },
                "images": {
                  "type": "array",
                  "items": { "type": "string" },
                  "maxItems": 10
                },
                "inStock": { "type": "boolean", "default": true },
                "quantity": { "type": "integer", "minimum": 0 },
                "trackStock": { "type": "boolean", "default": false },
                "position": { "type": "integer", "minimum": 0 }
              }
            }
          },
          "options": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "type": "object",
              "required": ["name", "values"],
              "properties": {
                "name": { "type": "string", "minLength": 1, "maxLength": 128 },
                "values": {
                  "type": "array",
                  "items": { "type": "string", "maxLength": 128 },
                  "minItems": 1,
                  "maxItems": 50
                },
                "position": { "type": "integer", "minimum": 0 }
              }
            }
          },
          "categoryIds": {
            "type": "array",
            "items": { "type": "string" },
            "maxItems": 20
          }
        }
      },
      "UpdateProductBody": {
        "type": "object",
        "properties": {
          "title": { "type": "string", "minLength": 1, "maxLength": 256 },
          "subtitle": { "type": ["string", "null"], "maxLength": 512 },
          "description": { "type": ["string", "null"], "maxLength": 10000 },
          "productType": { "$ref": "#/components/schemas/ProductType" },
          "price": { "type": "integer", "minimum": 0 },
          "compareAtPrice": { "type": ["integer", "null"], "minimum": 0 },
          "images": {
            "type": "array",
            "items": { "type": "string" },
            "maxItems": 10
          },
          "message": { "type": ["string", "null"], "maxLength": 1000 },
          "inStock": { "type": "boolean" },
          "fulfillmentMode": {
            "oneOf": [
              { "$ref": "#/components/schemas/FulfillmentMode" },
              { "type": "null" }
            ]
          },
          "pricingModel": { "$ref": "#/components/schemas/PricingModel" },
          "status": { "$ref": "#/components/schemas/ProductStatus" },
          "minimumPrice": { "type": ["integer", "null"], "minimum": 0 },
          "maxPerCustomer": { "type": ["integer", "null"], "minimum": 1 },
          "availableFrom": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "availableUntil": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "downloadUrl": { "type": ["string", "null"], "maxLength": 2048 },
          "redirectUrl": { "type": ["string", "null"], "maxLength": 2048 },
          "keyFormat": {
            "oneOf": [
              { "$ref": "#/components/schemas/KeyFormat" },
              { "type": "null" }
            ]
          },
          "customPrefix": { "type": ["string", "null"], "maxLength": 32 },
          "maxActivations": { "type": ["integer", "null"], "minimum": 1 },
          "licenseDuration": {
            "oneOf": [
              { "$ref": "#/components/schemas/LicenseDuration" },
              { "type": "null" }
            ]
          },
          "revokeOnRefund": { "type": "boolean" },
          "lowStockThreshold": { "type": ["integer", "null"], "minimum": 0 },
          "webhookUrl": { "type": ["string", "null"], "maxLength": 2048 },
          "webhookSecret": { "type": ["string", "null"], "maxLength": 256 },
          "billingInterval": {
            "oneOf": [
              { "$ref": "#/components/schemas/BillingInterval" },
              { "type": "null" }
            ]
          },
          "billingAnchor": {
            "oneOf": [
              { "$ref": "#/components/schemas/BillingAnchor" },
              { "type": "null" }
            ]
          },
          "trialDays": { "type": ["integer", "null"], "minimum": 0 },
          "licenseKeys": {
            "type": "array",
            "items": { "type": "string", "maxLength": 512 },
            "maxItems": 1000
          },
          "variants": {
            "type": "array",
            "maxItems": 4,
            "items": { "$ref": "#/components/schemas/UpdateVariant" }
          },
          "options": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "type": "object",
              "required": ["name", "values"],
              "properties": {
                "name": { "type": "string", "maxLength": 128 },
                "values": {
                  "type": "array",
                  "items": { "type": "string", "maxLength": 128 },
                  "minItems": 1,
                  "maxItems": 50
                },
                "position": { "type": "integer", "minimum": 0 }
              }
            }
          },
          "categoryIds": {
            "type": "array",
            "items": { "type": "string" },
            "maxItems": 20
          }
        }
      },
      "UpdateVariant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Existing variant ID to update. Omit to create a new variant."
          },
          "title": { "type": "string", "maxLength": 256 },
          "slug": { "type": ["string", "null"], "maxLength": 128 },
          "description": { "type": ["string", "null"], "maxLength": 1000 },
          "sku": { "type": ["string", "null"], "maxLength": 128 },
          "options": {},
          "price": { "type": "integer", "minimum": 0 },
          "compareAtPrice": { "type": ["integer", "null"], "minimum": 0 },
          "images": {
            "type": "array",
            "items": { "type": "string" },
            "maxItems": 10
          },
          "inStock": { "type": "boolean" },
          "quantity": { "type": ["integer", "null"], "minimum": 0 },
          "trackStock": { "type": "boolean" },
          "position": { "type": "integer", "minimum": 0 }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "parentId": { "type": ["string", "null"] },
          "parent": {
            "type": "object",
            "description": "Parent category (when available)"
          },
          "displayOrder": { "type": "integer" },
          "icon": { "type": ["string", "null"] },
          "metaTitle": { "type": ["string", "null"] },
          "metaDescription": { "type": ["string", "null"] },
          "showInNavigation": { "type": "boolean" },
          "featured": { "type": "boolean" },
          "isFavourite": { "type": "boolean" },
          "isArchived": { "type": "boolean" },
          "children": {
            "type": "array",
            "description": "Child categories (when available)"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "title": { "type": "string" }
              }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateCategoryBody": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 128 },
          "slug": { "type": "string", "minLength": 2, "maxLength": 128 },
          "description": { "type": "string", "maxLength": 500 },
          "parentId": { "type": "string" },
          "displayOrder": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9999,
            "default": 0
          },
          "icon": { "type": "string", "maxLength": 64 },
          "metaTitle": { "type": "string", "maxLength": 128 },
          "metaDescription": { "type": "string", "maxLength": 320 },
          "showInNavigation": { "type": "boolean", "default": true },
          "featured": { "type": "boolean", "default": false },
          "isFavourite": { "type": "boolean", "default": false },
          "isArchived": { "type": "boolean", "default": false },
          "productIds": {
            "type": "array",
            "items": { "type": "string" },
            "maxItems": 100
          }
        }
      },
      "UpdateCategoryBody": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 128 },
          "slug": { "type": "string", "minLength": 2, "maxLength": 128 },
          "description": { "type": ["string", "null"], "maxLength": 500 },
          "parentId": { "type": ["string", "null"] },
          "displayOrder": { "type": "integer", "minimum": 0, "maximum": 9999 },
          "icon": { "type": ["string", "null"], "maxLength": 64 },
          "metaTitle": { "type": ["string", "null"], "maxLength": 128 },
          "metaDescription": { "type": ["string", "null"], "maxLength": 320 },
          "showInNavigation": { "type": "boolean" },
          "featured": { "type": "boolean" },
          "isFavourite": { "type": "boolean" },
          "isArchived": { "type": "boolean" },
          "productIds": {
            "type": "array",
            "items": { "type": "string" },
            "maxItems": 100
          }
        }
      },
      "Coupon": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "code": { "type": "string" },
          "displayName": { "type": ["string", "null"] },
          "description": { "type": ["string", "null"] },
          "type": { "type": "string", "enum": ["FIXED", "PERCENTAGE"] },
          "value": {
            "type": "integer",
            "description": "Discount value. For FIXED: amount in cents. For PERCENTAGE: percentage (1-100)."
          },
          "minimumPurchase": {
            "type": ["integer", "null"],
            "description": "Minimum purchase amount in cents"
          },
          "maxUses": { "type": ["integer", "null"] },
          "maxUsesPerCustomer": { "type": ["integer", "null"] },
          "firstPurchaseOnly": { "type": "boolean" },
          "startsAt": { "type": ["string", "null"], "format": "date-time" },
          "expiresAt": { "type": ["string", "null"], "format": "date-time" },
          "enabled": { "type": "boolean" },
          "timesUsed": { "type": "integer" },
          "productIds": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Product IDs this coupon is scoped to. Empty array means the coupon applies to all products."
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateCouponBody": {
        "type": "object",
        "required": ["code", "type", "value"],
        "properties": {
          "code": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9_\\-]+$"
          },
          "displayName": { "type": "string", "maxLength": 128 },
          "description": { "type": "string", "maxLength": 500 },
          "type": { "type": "string", "enum": ["FIXED", "PERCENTAGE"] },
          "value": { "type": "integer", "minimum": 1 },
          "minimumPurchase": { "type": "integer", "minimum": 0 },
          "maxUses": { "type": "integer", "minimum": 1 },
          "maxUsesPerCustomer": { "type": "integer", "minimum": 1 },
          "firstPurchaseOnly": { "type": "boolean", "default": false },
          "startsAt": { "type": "string", "format": "date-time" },
          "expiresAt": { "type": "string", "format": "date-time" },
          "enabled": { "type": "boolean", "default": true },
          "productIds": {
            "type": "array",
            "items": { "type": "string" },
            "maxItems": 50,
            "description": "Product IDs to scope this coupon to. Omit to apply to all products."
          }
        }
      },
      "UpdateCouponBody": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "minLength": 2, "maxLength": 64 },
          "displayName": { "type": ["string", "null"], "maxLength": 128 },
          "description": { "type": ["string", "null"], "maxLength": 500 },
          "type": { "type": "string", "enum": ["FIXED", "PERCENTAGE"] },
          "value": { "type": "integer", "minimum": 1 },
          "minimumPurchase": { "type": ["integer", "null"], "minimum": 0 },
          "maxUses": { "type": ["integer", "null"], "minimum": 1 },
          "maxUsesPerCustomer": { "type": ["integer", "null"], "minimum": 1 },
          "firstPurchaseOnly": { "type": "boolean" },
          "startsAt": { "type": ["string", "null"], "format": "date-time" },
          "expiresAt": { "type": ["string", "null"], "format": "date-time" },
          "enabled": { "type": "boolean" },
          "productIds": {
            "type": ["array", "null"],
            "items": { "type": "string" },
            "maxItems": 50,
            "description": "Product IDs to scope this coupon to. Pass null or empty array to remove scoping. Omit to leave unchanged."
          }
        }
      },
      "Order": {
        "type": "object",
        "description": "Order summary (list view)",
        "properties": {
          "id": { "type": "string" },
          "orderNumber": { "type": "string" },
          "status": { "$ref": "#/components/schemas/OrderStatus" },
          "amount": { "type": "integer", "description": "Subtotal in cents" },
          "currency": { "type": "string" },
          "gateway": { "type": "string" },
          "discounted": { "type": "boolean" },
          "discountCode": { "type": ["string", "null"] },
          "customer": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "email": { "type": "string" }
            }
          },
          "payment": {
            "type": ["object", "null"],
            "properties": {
              "status": { "$ref": "#/components/schemas/PaymentStatus" },
              "totalAmount": { "type": "integer" }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "OrderDetail": {
        "type": "object",
        "description": "Full order details",
        "properties": {
          "id": { "type": "string" },
          "orderNumber": { "type": "string" },
          "status": { "$ref": "#/components/schemas/OrderStatus" },
          "amount": { "type": "integer" },
          "currency": { "type": "string" },
          "gateway": { "type": "string" },
          "discounted": { "type": "boolean" },
          "discountCode": { "type": ["string", "null"] },
          "customFields": { "type": ["object", "null"] },
          "returnUrl": { "type": ["string", "null"] },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "productId": { "type": "string" },
                "variantId": { "type": ["string", "null"] },
                "name": { "type": ["string", "null"] },
                "quantity": { "type": "integer" },
                "price": {
                  "type": "integer",
                  "description": "Unit price in cents"
                }
              }
            }
          },
          "customer": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "email": { "type": "string" },
              "firstName": { "type": ["string", "null"] },
              "lastName": { "type": ["string", "null"] },
              "guest": { "type": "boolean" }
            }
          },
          "billingAddress": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "addressLine1": { "type": "string" },
              "addressLine2": { "type": ["string", "null"] },
              "city": { "type": "string" },
              "state": { "type": "string" },
              "postalCode": { "type": "string" },
              "country": { "type": "string" }
            }
          },
          "payment": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "referenceId": { "type": "string" },
              "amount": { "type": "integer" },
              "discountAmount": { "type": "integer" },
              "platformFeeAmount": { "type": "integer" },
              "pspFeeAmount": { "type": "integer" },
              "taxAmount": { "type": "integer" },
              "totalAmount": { "type": "integer" },
              "settledAmount": { "type": "integer" },
              "status": { "$ref": "#/components/schemas/PaymentStatus" },
              "pspProvider": { "type": "string" },
              "couponCode": { "type": ["string", "null"] },
              "taxId": { "type": ["string", "null"] },
              "createdAt": { "type": "string", "format": "date-time" }
            }
          },
          "licenses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "key": { "type": "string" },
                "status": {
                  "type": "string",
                  "enum": ["AVAILABLE", "CLAIMED", "REVOKED"]
                },
                "productId": { "type": "string" },
                "variantId": { "type": ["string", "null"] },
                "claimedAt": {
                  "type": ["string", "null"],
                  "format": "date-time"
                }
              }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Payment": {
        "type": "object",
        "description": "Payment summary (list view)",
        "properties": {
          "id": { "type": "string" },
          "referenceId": { "type": "string" },
          "amount": { "type": "integer" },
          "totalAmount": { "type": "integer" },
          "status": { "$ref": "#/components/schemas/PaymentStatus" },
          "pspProvider": { "type": "string" },
          "couponCode": { "type": ["string", "null"] },
          "country": { "type": ["string", "null"] },
          "customer": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "email": { "type": "string" }
            }
          },
          "order": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "orderNumber": { "type": "string" },
              "status": { "$ref": "#/components/schemas/OrderStatus" }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "PaymentDetail": {
        "type": "object",
        "description": "Full payment details with geo, timeline, and dispute info",
        "properties": {
          "id": { "type": "string" },
          "referenceId": { "type": "string" },
          "amount": { "type": "integer" },
          "discountAmount": { "type": "integer" },
          "platformFeeAmount": { "type": "integer" },
          "pspFeeAmount": { "type": "integer" },
          "taxAmount": { "type": "integer" },
          "totalAmount": { "type": "integer" },
          "settledAmount": { "type": "integer" },
          "status": { "$ref": "#/components/schemas/PaymentStatus" },
          "pspProvider": { "type": "string" },
          "couponCode": { "type": ["string", "null"] },
          "taxId": { "type": ["string", "null"] },
          "ipAddress": { "type": ["string", "null"] },
          "userAgent": { "type": ["string", "null"] },
          "geo": {
            "type": "object",
            "properties": {
              "city": { "type": ["string", "null"] },
              "region": { "type": ["string", "null"] },
              "country": { "type": ["string", "null"] },
              "postal": { "type": ["string", "null"] },
              "asn": { "type": ["string", "null"] },
              "org": { "type": ["string", "null"] }
            }
          },
          "customer": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "email": { "type": "string" },
              "firstName": { "type": ["string", "null"] },
              "lastName": { "type": ["string", "null"] },
              "guest": { "type": "boolean" }
            }
          },
          "order": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "orderNumber": { "type": "string" },
              "status": { "$ref": "#/components/schemas/OrderStatus" },
              "amount": { "type": "integer" },
              "currency": { "type": "string" }
            }
          },
          "dispute": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "disputeId": { "type": "string" },
              "reason": {
                "type": "string",
                "enum": [
                  "DUPLICATE_CHARGE",
                  "FRAUDULENT",
                  "PRODUCT_NOT_RECEIVED",
                  "PRODUCT_UNACCEPTABLE",
                  "GENERAL",
                  "UNRECOGNIZED"
                ]
              },
              "status": {
                "type": "string",
                "enum": ["AWAITING_REVIEW", "UNDER_REVIEW", "WON", "LOST"]
              },
              "hasEvidence": { "type": "boolean" },
              "totalAmount": { "type": "integer" },
              "amount": { "type": "integer" },
              "fee": { "type": "integer" },
              "createdAt": { "type": "string", "format": "date-time" },
[...]
